.dark{
  --mainBackground: black;     
  --secondBackground: rgb(51, 95, 182);
  --textColor: white;
  --buttonBackground: white;
  --buttonBorder: rgb(152, 229, 255);;
  --shopCardBackground: rgb(68, 199, 243);
}

.light{
  --mainBackground: white;
  --secondBackground: rgb(169, 228, 255);
  --textColor: rgb(25, 119, 207);
  --buttonBackground: white;
  --buttonBorder: rgb(31, 195, 232);
  --shopCardBackground: rgb(174, 243, 255);
}

/*    
mainBackground: The overall background of the entire page
secondBackground: The mainbackground of the UI and stuff
textColor: What do you think this does
buttonBackground: I wonder what it does
buttonBorder: ...
shopCardBackground: Each item's background in the shop



*/



body{
  background-color: var(--mainBackground);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

.toolBar{
  direction: flex;
  text-align: center;
  margin: 20px;
  color: var(--textColor);
  background-color: var(--secondBackground);
  width: 1800px;
  height: auto;
  padding: 20px;
  font-size: 40px;

  border-radius: 20px;
}

.Real_Body{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--secondBackground);
  justify-self: center;
  margin-top: 10px;
}

.item_card{
  width: 19%;
  height: 350px;
  background-color: var(--shopCardBackground);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin: 15px;
}

.item_card p{
  margin: 5px
}

.item_card button{
  margin-top: 10px;
}

.item_card img{
  width: 125px;
  height: 125px;
}



.infoBars, .filter_buttons{
  width: 90%;
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  background-color: var(--secondBackground);
  margin-top: 10px;
  border-radius: 10px;
}

.filter_buttons{
  height: 100px;
  flex-direction: row;
  align-items: center;
}

.filter, .filter_butMoney{
  width: 100px;
  height: 50px;
  margin: 10px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.bar{
  align-self: center;
  width: 100%;
  height: 17%;
  flex-direction: column;
  align-items: left;
  font-size: 25px;
}



.bar p{
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--textColor);
}


.card{
  display: flex;
  background-color: var(--secondBackground);
  width: 500px;
  height: 500px;
  align-items:center;
  flex-direction: column;
  margin: 20px;
}

.card p{
  margin-left: 20px;
  margin-right: 20px;
}

.card img{
  width: 80%;
  height: 50%;
  display: flex;
  object-fit: contain;
  margin: 20px;

}
.Adopt{
  width: 200px;
  height: 40px;
  margin: 20px;
}

.card p{
  font-size: 20px;
  color: var(--textColor);
}

.card h1{
  color: var(--textColor);
}

.mode, .reset{
  width: 100px;
  height: 100px;
}


button {
  background-color: var(--buttonBackground);
  border-color: var(--buttonBorder);
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: rgb(27, 31, 134);
}

button:hover{
  background-color: rgb(50, 238, 255);
  transform: scale(1.2);

}

