.dark{
  --mainBackground: black;
  --secondBackground: rgb(255, 255, 255);
  --textColor: black;
}

.light{
  --mainBackground: white;
  --secondBackground: rgb(167, 167, 167);
  --textColor: rgb(255, 255, 255);
}





body{
  background-color: var(--mainBackground);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

.toolBar{
  direction: flex;
  text-align: center;
  margin: 20px;
  color: var(--textColor);
  background-color: var(--secondBackground);
  width: 1800px;
  height: auto;
  padding: 20px;
  font-size: 40px;

  border-radius: 20px;
}

.Real_Body{
  width: 100%;
  display: flex;
  justify-content: center;
}

.infoBars{
  width: 90%;
  display: flex;
  height: 300px;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  background-color: var(--secondBackground);
  margin-top: 10px;
  border-radius: 10px;
}

.bar{
  align-self: center;
  width: 100%;
  height: 20%;
  flex-direction: column;
  align-items: left;
  font-size: 25px;
  margin: 0px;
}



.bar p{
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}


.card{
  display: flex;
  background-color: var(--secondBackground);
  width: 500px;
  height: 500px;
  align-items:center;
  flex-direction: column;

}

.card img{
  width: 80%;
  height: 50%;
  display: flex;
  object-fit: contain;
  margin: 20px;

}
.Adopt{
  width: 200px;
  height: 40px;
  margin: 20px;
}

.card p{
  font-size: 20px;

}

.mode{
  width: 100px;
  height: 100px;
}


