.dark{
  --mainBackground: black;
  --secondBackground: rgb(255, 255, 255);
  --textColor: black;
}

.light{
  --mainBackground: white;
  --secondBackground: rgb(236, 236, 236);
  --textColor: black;
}





body{
  background-color: var(--mainBackground);
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;

}

.toolBar{
  direction: flex;
  text-align: center;
  margin: 20px;
  color: var(--textColor);
  background-color: var(--secondBackground);
  width: 1800px;
  height: auto;
  padding: 20px;
  font-size: 40px;

  border-radius: 20px;
}


.mode{
  width: 100px;
  height: 100px;
}
